<div class="card">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <h4 class="card-title">Nouveau Patient</h4>
            <div class="panel-body">
                <form #f="ngForm" (ngSubmit)="onSavePatient(f.value)">
                    <div class="row mb-3">
                        <div class="col">
                          <input type="text" class="form-control" name="prenom" placeholder="Prénom" ngModel #prenom=ngModel required>
                        </div>
                        <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert alert-danger">Prenom obligatoire</div>
                        <div class="col">
                          <input type="text" class="form-control" name="nom" ngModel #nom=ngModel placeholder="Nom" required>
                        </div>
                        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">Nom obligatoire</div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control"  name="cin" ngModel #cin=ngModel required  placeholder="Cin">
                        </div>
                        <div *ngIf="cin.errors" class="alert alert-danger">cin non valide</div>
                        <div *ngIf="cin.invalid && (cin.dirty || cin.touched)" class="alert alert-danger">Cin obligatoire</div>
                        <div class="col">
                          <input type="text" class="form-control"  name="telp" ngModel #telp=ngModel required  placeholder="GSM">
                        </div>
                        <div *ngIf="telp.invalid && (telp.dirty || telp.touched)" class="alert alert-danger">N° de Telephone obligatoire</div>
                        <div *ngIf="telp.errors" class="alert alert-danger">Numero Telephone non valide</div>
                    </div>
                    <p></p>
                    <div class="row mb-3">
                        <div class="col">
                            <select class=form-control name="sexe" ngModel #sexe=ngModel required>
                                <option  value="" disabled selected hidden>Sexe</option>
                                <option value="Masculin">Masculin</option>
                                <option value="Féminin">Féminin</option>
                              </select>
                        </div>
                        <div *ngIf="sexe.invalid && (sexe.dirty || sexe.touched)" class="alert alert-danger">Sexe obligatoire</div>
                        <div class="col">
                          <input type="text" class="form-control" name="profession" ngModel #profession=ngModel placeholder="Profession">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                          <input type="date" class="form-control" name="datenaiss" ngModel #datenaiss=ngModel required>
                        </div>
                        <div *ngIf="datenaiss.invalid && (datenaiss.dirty || datenaiss.touched)" class="alert alert-danger">Date de Naissance obligatoire</div>
                        <div class="col">
                          <input type="text" class="form-control" name="adresse" ngModel #adresse=ngModel placeholder="Adresse">
                        </div>
                    </div>
                    <p></p>
                        <div class="form-group">
                            <button class="btn btn-outline-success btn-rounded" type="submit" ><i class="fa fa-check"></i>Ajouter</button>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>
