<div class="card">
  <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel panel-default">
          <h4 class="card-title">Nouveau Cnam</h4>
          <div class="panel-body">
              <form #f="ngForm" (ngSubmit)="onSaveCnam(f.value)">
                  <div class="form-row mb-3">
                      <div class="col-md-6">
                        <input type="text" class="form-control" name="matcnam" placeholder="Matricule" ngModel #matcnam=ngModel required>
                      </div>
                      <div *ngIf="matcnam.invalid && (matcnam.dirty || matcnam.touched)" class="alert alert-danger">Matricule obligatoire</div>
                      <div class="col-md-6">
                        <input type="text" class="form-control" name="typecnam" ngModel #typecnam=ngModel placeholder="typecnam" required>
                      </div>
                      <div *ngIf="typecnam.invalid && (typecnam.dirty || typecnam.touched)" class="alert alert-danger">type obligatoire</div>
                  </div>
                  <div class="form-row mb-3">
                      <div class="col-md-6">
                        <input type="text" class="form-control"  name="aff" ngModel #aff=ngModel required  placeholder="aff">
                      </div>
                      <div *ngIf="aff.invalid && (aff.dirty || aff.touched)" class="alert alert-danger">aff obligatoire</div>
                      <div class="col-md-6">
                        <input type="text" class="form-control"  name="Patient" ngModel #patient=ngModel required  placeholder="PAtient">
                      </div>

                  </div>


                  <div class="form-row mb-3">
                      <div class="col-md-6">
                        <input type="date" class="form-control" name="datedebvalid" ngModel #datedebvalid=ngModel required>
                      </div>
                      <div *ngIf="datedebvalid.invalid && (datedebvalid.dirty || datedebvalid.touched)" class="alert alert-danger">Date de Naissance obligatoire</div>

                      <div class="col-md-6">
                        <input type="date" class="form-control" name="datefinvalid" ngModel #datefinvalid=ngModel required>
                      </div>
                      <div *ngIf="datefinvalid.invalid && (datefinvalid.dirty || datefinvalid.touched)" class="alert alert-danger">Date de Naissance obligatoire</div>

                  </div>

                      <div class="form-group">
                          <button class="btn btn-outline-success btn-rounded" type="submit" ><i class="fa fa-check"></i>Ajouter</button>
                      </div>

              </form>
          </div>
      </div>
  </div>
</div>
